@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply Playfair Display to all text globally */
body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-playfair);
}

/* Override p and a tags to use a different font */
p, a, ul, li, input, link, button {
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  padding-left: 80px;
  padding-right: 80px;
}


/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}