.main-hero h1{
    
}

.main-hero h1 span{
    margin-left: 100px;
    position: relative;
}
.main-hero h1 span::before{
    content: '';
    position: absolute;
    top: 60px;
    left: -90px;
    width: 80px;
    height: 5px;
    border-radius: 100px;
    background: white;
}